# Ignore data files
data

# Ignore Pycharm files
.idea

# Ignore weights and configuration files
yolov3.cfg
yolov3.weights

# Ignore yolov4 files
/yolo_darknet/yolov4/darknet/yolov4.conv.137
/yolo_darknet/yolov4/darknet/src/.editorconfig
/yolo_darknet/yolov4/darknet/.gitignore
/yolo_darknet/yolov4/darknet/.travis.yml
/yolo_darknet/yolov4/darknet/src/activation_kernels.cu
/yolo_darknet/yolov4/darknet/src/activation_layer.c
/yolo_darknet/yolov4/darknet/src/activation_layer.h
/yolo_darknet/yolov4/darknet/src/activations.c
/yolo_darknet/yolov4/darknet/src/activations.h
/yolo_darknet/yolov4/darknet/src/art.c
/yolo_darknet/yolov4/darknet/src/avgpool_layer.c
/yolo_darknet/yolov4/darknet/src/avgpool_layer.h
/yolo_darknet/yolov4/darknet/src/avgpool_layer_kernels.cu
/yolo_darknet/yolov4/darknet/src/batchnorm_layer.c
/yolo_darknet/yolov4/darknet/src/batchnorm_layer.h
/yolo_darknet/yolov4/darknet/src/blas.c
/yolo_darknet/yolov4/darknet/src/blas.h
/yolo_darknet/yolov4/darknet/src/blas_kernels.cu
/yolo_darknet/yolov4/darknet/src/box.c
/yolo_darknet/yolov4/darknet/src/box.h
/yolo_darknet/yolov4/darknet/build.ps1
/yolo_darknet/yolov4/darknet/build.sh
/yolo_darknet/yolov4/darknet/src/captcha.c
/yolo_darknet/yolov4/darknet/src/cifar.c
/yolo_darknet/yolov4/darknet/src/classifier.c
/yolo_darknet/yolov4/darknet/src/classifier.h
/yolo_darknet/yolov4/darknet/CMakeLists.txt
/yolo_darknet/yolov4/darknet/src/coco.c
/yolo_darknet/yolov4/darknet/src/col2im.c
/yolo_darknet/yolov4/darknet/src/col2im.h
/yolo_darknet/yolov4/darknet/src/col2im_kernels.cu
/yolo_darknet/yolov4/darknet/src/compare.c
/yolo_darknet/yolov4/darknet/.circleci/config.yml
/yolo_darknet/yolov4/darknet/src/connected_layer.c
/yolo_darknet/yolov4/darknet/src/connected_layer.h
/yolo_darknet/yolov4/darknet/src/conv_lstm_layer.c
/yolo_darknet/yolov4/darknet/src/conv_lstm_layer.h
/yolo_darknet/yolov4/darknet/src/convolutional_kernels.cu
/yolo_darknet/yolov4/darknet/src/convolutional_layer.c
/yolo_darknet/yolov4/darknet/src/convolutional_layer.h
/yolo_darknet/yolov4/darknet/src/cost_layer.c
/yolo_darknet/yolov4/darknet/src/cost_layer.h
/yolo_darknet/yolov4/darknet/src/cpu_gemm.c
/yolo_darknet/yolov4/darknet/src/crnn_layer.c
/yolo_darknet/yolov4/darknet/src/crnn_layer.h
/yolo_darknet/yolov4/darknet/src/crop_layer.c
/yolo_darknet/yolov4/darknet/src/crop_layer.h
/yolo_darknet/yolov4/darknet/src/crop_layer_kernels.cu
/yolo_darknet/yolov4/darknet/src/dark_cuda.c
/yolo_darknet/yolov4/darknet/src/dark_cuda.h
/yolo_darknet/yolov4/darknet/src/darknet.c
/yolo_darknet/yolov4/darknet/include/darknet.h
/yolo_darknet/yolov4/darknet/darknet.py
/yolo_darknet/yolov4/darknet/darknet_images.py
/yolo_darknet/yolov4/darknet/darknet_video.py
/yolo_darknet/yolov4/darknet/DarknetConfig.cmake.in
/yolo_darknet/yolov4/darknet/src/darkunistd.h
/yolo_darknet/yolov4/darknet/src/data.c
/yolo_darknet/yolov4/darknet/src/data.h
/yolo_darknet/yolov4/darknet/src/deconvolutional_kernels.cu
/yolo_darknet/yolov4/darknet/src/deconvolutional_layer.c
/yolo_darknet/yolov4/darknet/src/deconvolutional_layer.h
/yolo_darknet/yolov4/darknet/src/demo.c
/yolo_darknet/yolov4/darknet/src/demo.h
/yolo_darknet/yolov4/darknet/src/detection_layer.c
/yolo_darknet/yolov4/darknet/src/detection_layer.h
/yolo_darknet/yolov4/darknet/src/detector.c
/yolo_darknet/yolov4/darknet/src/dice.c
/yolo_darknet/yolov4/darknet/scripts/dice_label.sh
/yolo_darknet/yolov4/darknet/src/dropout_layer.c
/yolo_darknet/yolov4/darknet/src/dropout_layer.h
/yolo_darknet/yolov4/darknet/src/dropout_layer_kernels.cu
/yolo_darknet/yolov4/darknet/cmake/Modules/FindCUDNN.cmake
/yolo_darknet/yolov4/darknet/cmake/Modules/FindPThreads_windows.cmake
/yolo_darknet/yolov4/darknet/cmake/Modules/FindStb.cmake
/yolo_darknet/yolov4/darknet/src/gaussian_yolo_layer.c
/yolo_darknet/yolov4/darknet/src/gaussian_yolo_layer.h
/yolo_darknet/yolov4/darknet/src/gemm.c
/yolo_darknet/yolov4/darknet/src/gemm.h
/yolo_darknet/yolov4/darknet/scripts/gen_anchors.py
/yolo_darknet/yolov4/darknet/scripts/gen_tactic.sh
/yolo_darknet/yolov4/darknet/scripts/get_coco2017.sh
/yolo_darknet/yolov4/darknet/scripts/get_coco_dataset.sh
/yolo_darknet/yolov4/darknet/scripts/get_imagenet_train.sh
/yolo_darknet/yolov4/darknet/scripts/get_openimages_dataset.py
/yolo_darknet/yolov4/darknet/src/getopt.c
/yolo_darknet/yolov4/darknet/src/getopt.h
/yolo_darknet/yolov4/darknet/src/gettimeofday.c
/yolo_darknet/yolov4/darknet/src/gettimeofday.h
/yolo_darknet/yolov4/darknet/src/go.c
/yolo_darknet/yolov4/darknet/src/gru_layer.c
/yolo_darknet/yolov4/darknet/src/gru_layer.h
/yolo_darknet/yolov4/darknet/src/http_stream.cpp
/yolo_darknet/yolov4/darknet/src/http_stream.h
/yolo_darknet/yolov4/darknet/src/httplib.h
/yolo_darknet/yolov4/darknet/src/im2col.c
/yolo_darknet/yolov4/darknet/src/im2col.h
/yolo_darknet/yolov4/darknet/src/im2col_kernels.cu
/yolo_darknet/yolov4/darknet/src/image.c
/yolo_darknet/yolov4/darknet/src/image.h
/yolo_darknet/yolov4/darknet/src/image_opencv.cpp
/yolo_darknet/yolov4/darknet/src/image_opencv.h
/yolo_darknet/yolov4/darknet/image_yolov3.sh
/yolo_darknet/yolov4/darknet/image_yolov4.sh
/yolo_darknet/yolov4/darknet/scripts/imagenet_label.sh
/yolo_darknet/yolov4/darknet/scripts/install_OpenCV4.sh
/yolo_darknet/yolov4/darknet/json_mjpeg_streams.sh
/yolo_darknet/yolov4/darknet/scripts/kitti2yolo.py
/yolo_darknet/yolov4/darknet/scripts/kmeansiou.c
/yolo_darknet/yolov4/darknet/src/layer.c
/yolo_darknet/yolov4/darknet/src/layer.h
/yolo_darknet/yolov4/darknet/LICENSE
/yolo_darknet/yolov4/darknet/src/list.c
/yolo_darknet/yolov4/darknet/src/list.h
/yolo_darknet/yolov4/darknet/src/local_layer.c
/yolo_darknet/yolov4/darknet/src/local_layer.h
/yolo_darknet/yolov4/darknet/scripts/log_parser/log_parser.py
/yolo_darknet/yolov4/darknet/src/lstm_layer.c
/yolo_darknet/yolov4/darknet/src/lstm_layer.h
/yolo_darknet/yolov4/darknet/Makefile
/yolo_darknet/yolov4/darknet/src/matrix.c
/yolo_darknet/yolov4/darknet/src/matrix.h
/yolo_darknet/yolov4/darknet/src/maxpool_layer.c
/yolo_darknet/yolov4/darknet/src/maxpool_layer.h
/yolo_darknet/yolov4/darknet/src/maxpool_layer_kernels.cu
/yolo_darknet/yolov4/darknet/net_cam_v3.sh
/yolo_darknet/yolov4/darknet/net_cam_v4.sh
/yolo_darknet/yolov4/darknet/src/network.c
/yolo_darknet/yolov4/darknet/src/network.h
/yolo_darknet/yolov4/darknet/src/network_kernels.cu
/yolo_darknet/yolov4/darknet/src/nightmare.c
/yolo_darknet/yolov4/darknet/src/normalization_layer.c
/yolo_darknet/yolov4/darknet/src/normalization_layer.h
/yolo_darknet/yolov4/darknet/src/option_list.c
/yolo_darknet/yolov4/darknet/src/option_list.h
/yolo_darknet/yolov4/darknet/scripts/windows/otb_get_labels.sh
/yolo_darknet/yolov4/darknet/src/parser.c
/yolo_darknet/yolov4/darknet/src/parser.h
/yolo_darknet/yolov4/darknet/scripts/log_parser/plot.jpg
/yolo_darknet/yolov4/darknet/3rdparty/pthreads/include/pthread.h
/yolo_darknet/yolov4/darknet/scripts/README.md
/yolo_darknet/yolov4/darknet/README.md
/yolo_darknet/yolov4/darknet/scripts/log_parser/readme.md
/yolo_darknet/yolov4/darknet/src/region_layer.c
/yolo_darknet/yolov4/darknet/src/region_layer.h
/yolo_darknet/yolov4/darknet/src/reorg_layer.c
/yolo_darknet/yolov4/darknet/src/reorg_layer.h
/yolo_darknet/yolov4/darknet/src/reorg_old_layer.c
/yolo_darknet/yolov4/darknet/src/reorg_old_layer.h
/yolo_darknet/yolov4/darknet/scripts/reval_voc.py
/yolo_darknet/yolov4/darknet/scripts/reval_voc_py3.py
/yolo_darknet/yolov4/darknet/src/rnn.c
/yolo_darknet/yolov4/darknet/src/rnn_layer.c
/yolo_darknet/yolov4/darknet/src/rnn_layer.h
/yolo_darknet/yolov4/darknet/src/rnn_vid.c
/yolo_darknet/yolov4/darknet/src/route_layer.c
/yolo_darknet/yolov4/darknet/src/route_layer.h
/yolo_darknet/yolov4/darknet/scripts/log_parser/run_log_parser_windows.cmd
/yolo_darknet/yolov4/darknet/src/sam_layer.c
/yolo_darknet/yolov4/darknet/src/sam_layer.h
/yolo_darknet/yolov4/darknet/src/scale_channels_layer.c
/yolo_darknet/yolov4/darknet/src/scale_channels_layer.h
/yolo_darknet/yolov4/darknet/3rdparty/pthreads/include/sched.h
/yolo_darknet/yolov4/darknet/3rdparty/pthreads/include/semaphore.h
/yolo_darknet/yolov4/darknet/scripts/setup.ps1
/yolo_darknet/yolov4/darknet/scripts/setup.sh
/yolo_darknet/yolov4/darknet/src/shortcut_layer.c
/yolo_darknet/yolov4/darknet/src/shortcut_layer.h
/yolo_darknet/yolov4/darknet/src/softmax_layer.c
/yolo_darknet/yolov4/darknet/src/softmax_layer.h
/yolo_darknet/yolov4/darknet/3rdparty/stb/include/stb_image.h
/yolo_darknet/yolov4/darknet/3rdparty/stb/include/stb_image_write.h
/yolo_darknet/yolov4/darknet/src/super.c
/yolo_darknet/yolov4/darknet/src/swag.c
/yolo_darknet/yolov4/darknet/src/tag.c
/yolo_darknet/yolov4/darknet/scripts/log_parser/test.log
/yolo_darknet/yolov4/darknet/scripts/log_parser/test_new.log
/yolo_darknet/yolov4/darknet/scripts/log_parser/test_new.svg
/yolo_darknet/yolov4/darknet/scripts/testdev2017.txt
/yolo_darknet/yolov4/darknet/results/tmp.txt
/yolo_darknet/yolov4/darknet/src/tree.c
/yolo_darknet/yolov4/darknet/src/tree.h
/yolo_darknet/yolov4/darknet/src/upsample_layer.c
/yolo_darknet/yolov4/darknet/src/upsample_layer.h
/yolo_darknet/yolov4/darknet/src/utils.c
/yolo_darknet/yolov4/darknet/src/utils.h
/yolo_darknet/yolov4/darknet/vcpkg.json
/yolo_darknet/yolov4/darknet/src/version.h.in
/yolo_darknet/yolov4/darknet/video_yolov3.sh
/yolo_darknet/yolov4/darknet/video_yolov4.sh
/yolo_darknet/yolov4/darknet/scripts/voc_eval.py
/yolo_darknet/yolov4/darknet/scripts/voc_eval_py3.py
/yolo_darknet/yolov4/darknet/scripts/voc_label.py
/yolo_darknet/yolov4/darknet/scripts/voc_label_difficult.py
/yolo_darknet/yolov4/darknet/src/voxel.c
/yolo_darknet/yolov4/darknet/scripts/windows/win_cifar.cmd
/yolo_darknet/yolov4/darknet/scripts/windows/win_get_imagenet_train_48hours.cmd
/yolo_darknet/yolov4/darknet/scripts/windows/win_get_imagenet_valid.cmd
/yolo_darknet/yolov4/darknet/scripts/windows/win_get_otb_datasets.cmd
/yolo_darknet/yolov4/darknet/scripts/windows/win_install_cygwin.cmd
/yolo_darknet/yolov4/darknet/scripts/windows/windows_imagenet_label.sh
/yolo_darknet/yolov4/darknet/scripts/windows/windows_imagenet_train.sh
/yolo_darknet/yolov4/darknet/src/writing.c
/yolo_darknet/yolov4/darknet/src/yolo.c
/yolo_darknet/yolov4/darknet/src/yolo_console_dll.cpp
/yolo_darknet/yolov4/darknet/src/yolo_layer.c
/yolo_darknet/yolov4/darknet/src/yolo_layer.h
/yolo_darknet/yolov4/darknet/src/yolo_v2_class.cpp
/yolo_darknet/yolov4/darknet/include/yolo_v2_class.hpp
/yolo_darknet/yolov4/darknet/.github/
/yolo_darknet/yolov4/darknet/.git
/yolo_darknet/convert2Yolo/
/yolo_darknet/yolov4/darknet/traffic_data/traffic_images/
/yolo_darknet/yolov4/darknet/traffic_data/
/yolo_darknet/xml_rename.py
